body{
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sens-serif;
	font-style: italic;
	font-size: 16px;
	line-height: 1.6em;
	margin-left: 15px;  
}

#main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  border: none;
  height: 40px;
  padding-left:5px;
  padding-top:10px; 
  padding-bottom:10px; 
  margin-top: 15px;
}

#header-2{
  margin-left: 5px;
}

#navbar{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
}

li, a, button {
	font-weight: 500;
	font-size: 18px;
	color: white;
	text-decoration:none;
}

#navheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav{
	order:1;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 25px;
}

.nav_links li:nth-child(1) {
	padding: 0px 10px 0 0;
}

.nav_links li a {
	transition:all 0.3s ease 0s;
}

.nav_links li a:hover{
	color:rgba(0,136,169,1);
}

button{
	margin-right: 0px;
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition:all 0.3s ease 0s;  
}

button:hover{
	background-color: rgba(0,136,169,0.8);
}

#paras {
  padding-left:4px; 
  padding-right:4px; 
}

li#bullets{
  font-size: 16px;
  padding-left: 5px;
  margin-left:0px;
}

.box {
  display: block;
  margin: 0px;
  white-space: nowrap;
}
.box div {
  display: inline-block;
  margin: 0px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
}
.box p {
  position: relative;
  width: 100%;
  top: 12px;
  z-index: 2;
  text-align: center;
  font-size: 1.5em;
  left: 15px;
}
.clear {
  clear: both;
}
.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 1190px;
}

#main-footer{
	font-size: 10px;
	padding-top: 0px;
}