body{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sens-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 1.6em;
  margin-left: 15px;  
}

#main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  border: none;
  height: 40px;
  padding-left:5px;
  padding-top:10px; 
  padding-bottom:10px; 
  margin-top: 15px;
}

#header-2{
  margin-left: 5px;
}

#navbar{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

li, a, button {
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-decoration:none;
}

#navheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  order:1;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 25px;
}

.nav_links li:nth-child(1) {
  padding: 0px 10px 0 0;
}

.nav_links li a {
  transition:all 0.3s ease 0s;
}

.nav_links li a:hover{
  color:rgba(0,136,169,1);
}

button{
  margin-right: 0px;
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition:all 0.3s ease 0s;  
}

button:hover{
  background-color: rgba(0,136,169,0.8);
}

#GoogleAnalyticsImage {
  float: right; 
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 90px;
}

#GoogleSearchAdsImage{
  float: right; 
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 60px;
}

#SEOFoundationsImage{
  float: right; 
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
}

#SEOKeywordStrategyImage{
  float: right; 
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 55px;
}

.container1 {
  float: left ;
}

.container2 {
  float: left ;
}

.container3 {
  float: left ;
}

.container4 {
  float: left ;
}

.box-1{
    	border:2px dashed #ccc;
    	padding-left:10px;
    	margin: 20px 0;  
    }

.box-2{
    	border:2px dashed #ccc;
    	padding-left:10px;
    	margin: 20px 0;  
    }

.box-3{
    	border:2px dashed #ccc;
    	padding-left:10px;
    	margin: 20px 0;  
    }

.box-4{
    	border:2px dashed #ccc;
    	padding-left:10px;
    	margin: 20px 0;  
    }

#main-footer{
  font-size: 10px;
  padding-top: 0px;
}